@import "tailwindcss";



html {

  scroll-behavior: smooth;

}





body {

  margin:0;

  min-width:320px;

  min-height:100vh;

  background:#020617;

  color:white;

  font-family:

  Inter,

  system-ui,

  -apple-system,

  BlinkMacSystemFont,

  "Segoe UI",

  sans-serif;

}





* {

  box-sizing:border-box;

}





::-webkit-scrollbar {

  width:10px;

}





::-webkit-scrollbar-track {

  background:#020617;

}





::-webkit-scrollbar-thumb {

  background:#10b981;

  border-radius:20px;

}





button,

input,

select {

  font-family:inherit;

}





a {

  text-decoration:none;

}





.glass {

  background:rgba(255,255,255,0.05);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.1);

}






/* =========================
   LIGHT THEME
========================= */


body.light-theme {

  background:#f8fafc;

  color:#020617;

}





body.light-theme .bg-\[\#020617\] {

  background:#f8fafc !important;

}





body.light-theme .text-white {

  color:#020617 !important;

}





body.light-theme .bg-white\/5 {

  background:rgba(15,23,42,0.05) !important;

}





body.light-theme .border-white\/10 {

  border-color:rgba(15,23,42,0.15) !important;

}





body.light-theme .text-slate-400 {

  color:#475569 !important;

}